
/* HTML */
html {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  /* background: #61BA92; */
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
#logo{
  height: 160px;

}
/* NAVBAR */
#collapse li{
  display: inline;
  /* font: 50px; */
}

/* BANNER */
.banner {
  /* background: url */
  color: white;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

  height: 759px;
  width: 100%;
  margin-top: 0px;
  font-weight: 100;
}
/* .name {} */
/* DATE */
#date {
  font-size: 50px;
}
/* location */
#location {
  font-size: 30px;
}

#faqs {
  background-color: #58C9B9;
}

footer a>i {
  color: white !important;
}

p {
  color: #fff;
}
h2 {
  text-align: center;
  color: #fff;
  font-size: 3em;
}
/* hr */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* button styling */
#reg-btn{
  border-radius: 10px;
}
section{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.row {
  margin: 10% 0;
}

.col {
  margin: 10% 0;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.section-heading {
  font-size: 5em;
  font-weight: 700;
}

#first-tier>a>img {
  width: 70%;
}

#second-tier>a>img {
  width: 45%;
}

/* FAQS */
#faqs {
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);   */
  background: #1e5799 no-repeat cover; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%) no-repeat ; /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%) no-repeat ; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%) no-repeat;
background-size: cover; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  /* background: #67be90 ; */
}
.question {
  padding: 2%;
  padding-top: 50px;
  font-size: 2em;
  text-align: center;
  color: white;
}
#mlh{
  color: #fff;
}
.answer {
  font-size: .5em;
  padding: 2%;
  text-align: center;
}

/* Small devices */
@media (min-width:0px) {
  .banner {
  padding-top: 100px;
  }

  .section-heading {
    font-size: 3em;
  }

  div>a>img {
    margin-top: 10%;
  }

  h1 {
    font-weight: 100;
    font-size: 80px;
  }

  #reg-btn {
    margin-top: 50px;
  }
}

/* Medium devices (tablets) */
@media (min-width:768px) {
  h1{
    font-size: 150px;
  }
  #reg-btn{
    margin-top: 0px;
  }
}
/* FONT AWESOME */
i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #fff;
  padding: 0.5em 0.6em;

}


/* Large devices (desktops)
@media (min-width:992px) {

}

Extra large devices (large desktops)
@media (min-width:1200px) {

} */



/* FADE CLASSES */
/* TO DO */
